.meeting-container {
  height: 100vh;
  overflow: hidden;
  background: #f8f9fa;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: white;
  border-right: 1px solid #ddd;
}

.participant-item .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #28a745;
}

/* Top Bar */
.top-bar {
  background: white;
  border-bottom: 1px solid #ddd;
}

/* VIDEO GRID */
.video-area {
  padding: 15px;
  overflow-y: auto;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
  width: 100%;
  height: 100%;
}

/* Each Video Box */
.video-box {
  position: relative;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: black;
}
.fake-video {
  width: 100%;
  height: 120px;
  background-color: #222;
  border-radius: 10px;
}
.video-name {
  color: white;
  font-size: 14px;
  margin-top: 4px;
}

/* Controls */
.controls-bar {
  background: white;
  border-top: 1px solid #ddd;
}

.control-btn {
  font-size: 20px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    display: none !important;
  }

  .video-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
